* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.calculator {
  align-items: center;
  border: 2px solid black;
  width: 300px;
  height: 400px;
  background-color: black;
}

.inputDisplay {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  align-items: flex-end;
  color: white;
  font-size: 2rem;
}

input {
  width: 100%;
  height: 25px;
  align-self: flex-end;
}

.sectionNumber {
  padding: 5px;
}

.number {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  margin-top: 10px;
}

.number button {
  font-size: 2.5rem;
  background-color: rgb(53, 53, 53);
  color: white;
  text-align: center;
}
.number button:nth-child(2) {
  background-color: rgb(255, 102, 0);
}

.number button:nth-child(6) {
  background-color: rgb(255, 119, 0);
}

.number button:nth-child(10) {
  background-color: rgb(255, 119, 0);
}

.number button:nth-child(14) {
  background-color: rgb(255, 119, 0);
}

.number button:nth-child(17) {
  background-color: rgb(255, 119, 0);
}

.number button:nth-child(2) {
  background-color: rgb(255, 119, 0);
}

.number button:hover {
  cursor: pointer;
  background-color: rgb(155, 155, 155);
}

.number button:nth-child(2):hover {
  cursor: pointer;
  background-color: rgb(255, 102, 0);
}
.number button:nth-child(6):hover {
  cursor: pointer;
  background-color: rgb(255, 102, 0);
}
.number button:nth-child(10):hover {
  cursor: pointer;
  background-color: rgb(255, 102, 0);
}
.number button:nth-child(14):hover {
  cursor: pointer;
  background-color: rgb(255, 102, 0);
}
.number button:nth-child(17):hover {
  cursor: pointer;
  background-color: rgb(255, 102, 0);
}
